html.theme_dark svg.IconBlack {
	filter: invert(1);
}

body {
	overflow-x: hidden;
}

div.tgme_widget_message_text > div.MbPost * {
	max-width: 100%;
	height: auto;
}

div.tgme_widget_message_text > div.MbPost figure {
	margin: 1em;
}
