body {
	background-color: white;
	color: black;
}

img, video, iframe {
	max-width: 40em;
	max-height: 30em;
	height: auto;
	width: auto;
}

div.tgme_background_wrap,
div.tgme_header_right_column,
div.tgme_header_search,
div.tgme_header_info > a[name="goBack"],
.tgme_widget_message_user_photo
/*header.tgme_header*/ {
	display: none;
}

section.tgme_channel_history.js-message_history {
	margin: 0;
}

div.tgme_widget_message_author,
div.tgme_widget_message_footer,
div.tgme_widget_message_service_date_wrap,
div.tgme_widget_message_author a,
div.tgme_widget_message_footer a {
	background-color: lightgray;
	color: black;
}

.tgme_page_photo_image,
.tgme_page_photo_image img {
	width: 36px;
	height: 36px;
}

div.tgme_widget_message_wrap {
	border-top: 2px solid black;
	margin-top: 16px;
	margin-bottom: 8px;
}
