@import url(Font_F25_Bank_Printer.css);

a {
	color: #17c3ea;
}

a:active {
	color: #0b69bc;
}

body {
	background-image: url(../Media/BG/0.gif);
	background-size: cover;
	margin: 0;
	height: 100%;
	width: 100%;
	color: #F0F0FF;
}

.InlineDiv > * {
	display: inline-block;
	margin: 32px;
}

.Content {
	background-color: rgba(0,0,0, 0.8);
	width: 100%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
	overflow-x: hidden;
	padding-top: 5%;
	padding-bottom: 5%;
}

.TopBar {
	position: absolute !important;
	left: 0;
	top: 0;
	padding: 6px;
	width:100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Footer {
	background-color: rgba(48,48,48, 0.7);
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 20px;
	text-align: center;
	overflow-x: hidden;
}
