@import url("Font_F25_Bank_Printer.css");

A {
	Color: #17C3EA;
}
A:Active {
	Color: #0B69BC;
}
A:Hover {
	Background: #101060;
	Color: #E9FFEE;
}

Body {
	background-image: url("https://octospacc.gitlab.io/Web-ThirdParty-Unknown/Assets/Media/Backgrounds/0.gif");
	background-size: cover;
	margin: 0;
	height: 100%;
	width: 100%;
	color: #F0F0FF;
}

.InlineDiv > * {
	display: inline-block;
	margin: 32px;
}

#ConfettiCanvas {
	Position: Relative;
	Top: 0;
	Left: 0;
	Width: 100%;
	Height: 100%;
	Z-Index: 2;
}

.Content {
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
	overflow-x: hidden;
	padding-top: 5%;
	padding-bottom: 5%;
}

#Links > Div {
	Max-Width: Fit-Content;
	Margin: Auto !Important;
	Padding: 16px;
	Background-Color: RGBA(16,16,16,0.8);
}

.TopBar {
	position: absolute !important;
	left: 0;
	top: 0;
	padding: 8px;
	/* width: 100%; */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Footer {
	background-color: rgba(36,36,36, 0.8);
	position: fixed;
	bottom: 0px;
	width: 100vw;
	height: 24px;
	text-align: center;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	z-index: 1;
}
.Footer > * {
	vertical-align: sub;
}
.FooterLeft {
	Float: Left;
	Display: Block;
	Padding: 3px;
}
.FooterRight {
	Float: Right;
	Display: Block;
	Padding: 3px;
}

#AgeDiv { Padding: 16px; }