a {
	color: #17c3ea;
}

a:active {
	color: #0b69bc;
}

body {
	background-image: url(../gif/bg/0.gif);
	background-size: cover;
	margin: 0;
	height: 100%;
	width: 100%;
	color: #F0F0FF;
}

.container {
	background-color: rgba(0,0,0, 0.8);
	width: 100%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
	overflow-x: hidden;
	padding-top: 5%;
	padding-bottom: 5%;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	text-align: center;
}