@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(q5uGsou0JOdh94bfvQlo.ttf) format('truetype');
}
@font-face {
  font-family: 'Patrick Hand SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(0nkwC9f7MfsBiWcLtY65AWDK873ljiK-.ttf) format('truetype');
}
