body {
	padding-left: 0;
	padding-right: 0;
}

a[data-action-section] {
	cursor: pointer;
}

.holo-body {
	padding-left: 16px;
	padding-right: 16px;
}

.holo-section {
	display: none;
}

.holo-section[data-open="open"] {
	display: revert;
}

.holo-sidebar, .holo-sideBar {
	display: none;
	position: fixed;
	width: 100%;
	/* width: 60%; */
	height: 100vh;
	z-index: 1;
	background: rgba(0, 0, 0, 0.65);
}

.holo-sidebar[data-open="open"], .holo-sideBar[data-open="open"] {
	display: revert;
}

.holo-sidebar .holo-list, .holo-sideBar .holo-list {
	width: 60%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.80);
}

.actionbar .holo-title.holo-menu, .holo-actionbar .holo-title.holo-menu, .actionBar .holo-title.holo-menu, .holo-actionBar .holo-title.holo-menu {
	background-position: 0 16px;
	background-repeat: no-repeat;
	background-image: url(./holo-menu.png);
	image-rendering: pixelated;
}

.holo-list li button, .holo-list li [role="button"] {
	width: 100%;
	box-sizing: content-box;
}

.holo-sidebar > .holo-list, .holo-sideBar > .holo-list {
	overflow-y: auto;
}

.holo-actionbar .holo-list, .holo-actionBar .holo-list {
	position: absolute;
	top: -2px;
	right: 0;
}

.holo-actionbar .holo-list.collapsible, .holo-actionBar .holo-list.collapsible {
	top: 47px;
	background: rgba(16, 16, 16, 0.95);
	display: none;
}

.holo-actionbar .holo-list > div, .holo-actionBar .holo-list > div,
.holo-actionbar .holo-list:not(.collapsible) li, .holo-actionBar .holo-list:not(.collapsible) li {
	display: inline-block;
}

.holo-actionbar .holo-list li > button, .holo-actionBar ul.holo-list li > button {
	font-size: revert;
}

.holo-actionbar .holo-list:not(.collapsible) *[data-collapsed="true"], .holo-actionBar .holo-list:not(.collapsible) *[data-collapsed="true"],
.holo-actionbar .holo-list.collapsible *[data-collapsed="false"], .holo-actionBar .holo-list.collapsible *[data-collapsed="false"] {
	display: none !important;
}

/* https://github.com/ZMYaro/holo-web/issues/1#issuecomment-12778881 */
input[type="text"] {
	background: transparent;
	color: white;
	border-width: 0 0 1px;
	border-color: /* #4AB3E4; */ #7F7F7F;
	border-style: solid;
	line-height: 36px;
	padding: 0px 4px;
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
	width: 200px;
	position: relative;
	display: block;
	height: 32px;
	margin: 6px;
}
textarea {
	background: transparent;
	color: white;
	border-width: 0 0 1px;
	border-color: /* #4AB3E4; */ #7F7F7F;
	border-style: solid;
	padding: 4px 4px;
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
	width: 250px;
	height: 100px;
	position: relative;
	margin: 6px;
}
